<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
  <meta charset="UTF-8">
  <title>Signup</title>
</head>
<body>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="my-card mt-3">
          <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
            <p th:text="${session.message.content}"></p>
<!--            <th:block th:text="${#session.removeAttribute('message')}"></th:block>-->
          </div>
      <h1 class="text-center">Register Here</h1>
          <form action="" th:action="@{/do_register}" method="post" th:object="${user}">

            <!-- name field -->
            <div class="form-group" style="padding:10px" >
              <label for="name_field">Your Name</label>
              <input type="text"
                     name="name"
                     class="form-control"
                     id="name_field" aria-describedby="emailHelp" placeholder="Enter here"
                      required="required"
                      th:value="${user.name}">

            </div>
            <!-- email field -->
            <div class="form-group" style="padding:10px">
              <label for="email_field">Your Email</label>
              <input type="email"
                     name="email"
                     class="form-control"
                     id="email_field" aria-describedby="emailHelp" placeholder="Enter here"
                     required="required"
                     th:value="${user.email}">
            </div>
            <!-- password field -->
            <div class="form-group" style="padding:10px">
              <label for="password_field">Password</label>
              <input type="password"
                     name="password"
                     class="form-control"
                     id="password_field" aria-describedby="emailHelp" placeholder="Enter here"
                     required="required">
            </div>

          <!-- user about field -->
            <div class="form-group" style="padding:10px">
              <textarea name="about" placeholder="Enter something " cols="30" rows="10" class="form-control"></textarea>
            </div>
<!--              term and conditions-->
              <div class="form-group form-check">
                  <input type="checkbox" name="agreement" class="form-check-input" id="agreement">
                  <label for="agreement">Accept term and conditions</label>
              </div>
            <div class="container" style="padding:10px">
              <button type="submit" class="btn bg-primary">
                Submit
              </button>
              <button type="reset" class="btn btn-warning">
                Reset
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>